.div-text {
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: aquamarine;
  align-items: center;
}
.oneline-text {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: 3.700000047683716px;
  text-align: center;
  display: flex;
  padding: 13px 0px;
}
@media (max-width: 768px) {
  .oneline-text {
    text-align: center;
    align-items: center;
    margin-left: 27px;
  }
}
