.Aboutcard1 {
  background-image: url("../../Images/Aboutcard1.jpg");
}
.Aboutcard2 {
  background-image: url("../../Images/About2.jpg");
}
.Aboutcard3 {
  background-image: url("../../Images/About3.jpg");
}
.Aboutcard4 {
  background-image: url("../../Images/About4.jpg");
}
.paragraph p{
  font-size: 16px;
}
@media (max-width : 768px) {
  .About-main{
    
  }
  
}