.Aboutcard1 {
    background-image: url("../../Images/Aboutcard1.svg");
  }
  .Aboutcard2 {
    background-image: url("../../Images/Aboutcard2.svg");
  }
  .Aboutcard3 {
    background-image: url("../../Images/Aboutcard3.svg");
  }
  .Aboutcard4 {
    background-image: url("../../Images/Aboutcard4.svg");
  }