.why1{
    background-image: url("../../../img/service/support&Assis.jpg");
}
.why2{
    background-image: url("../../../img/service/whyBuss.jpg");
}
.why3{
    background-image: url("../../../img/service/whyCerton3.jpg");

}
.why4{
    background-image: url("../../../img/service/whyCerton4.jpg");
}