.hea {
  color: #fff;
  text-align: center;
  line-height: 1.6;
  text-align: center;

  /* font-size: larger; */
  /* margin-top: 2rem; */
}
.heading {
  color: white;
  font-weight: bolder;
  font-size: 40px;
}
.bgss {
  background-color: #183865;
  margin-top: -0.2rem;
}
/* .gap {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0px 5px;
  width: 100%;
} */
.gap {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.login-new {
  --background-dark: #2d3548;
  --text-light: rgba(255, 255, 255, 0.6);
  --text-lighter: rgba(255, 255, 255, 0.9);
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 64px;
  --width-container: 1200px;
}

.login-new * {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login-new html {
  height: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

.login-new body {
  height: 100%;
}

.login-new .heroSection {
  align-items: flex-start;
  /* background-image: linear-gradient(15deg, #bf0a2a 0%, #69b6c2 150%, #4ecc69); */
  display: flex;
  min-height: 100%;
  justify-content: center;
  padding: var(--spacing-xxl) var(--spacing-l);
}

.login-new .cardGrid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: var(--spacing-l);
  grid-row-gap: var(--spacing-l);
  max-width: var(--width-container);
  width: 100%;
}

@media (min-width: 540px) {
  .login-new .cardGrid {
    grid-template-columns: repeat(2, 1fr);
  }
  .hea {
    width: 90%;
    padding-top: 2rem;
  }
  .gap {
    width: 100%;
    padding-top: 2rem;
  }
}

@media (min-width: 960px) {
  .login-new .cardGrid {
    grid-template-columns: repeat(4, 1fr);
  }
  text.hea {
    text-align: center;
    width: 90%;
  }
}

/* .login-new {
    box-shadow: 0 0 8px rgba(196, 38, 38, 0.878);
  
  } */

.login-new .card {
  list-style: none;
  position: relative;
  /* box-shadow: inset 0 0 10px; */
  /* box-shadow: 0 0 8px rgba(196, 38, 38, 0.878); */
}

.login-new .card:before {
  content: "";
  display: block;
  padding-bottom: 150%;
  width: 100%;
}

.login-new .cardBackground {
  background-size: cover;
  background-position: center;
  /* border-radius: var(--spacing-l); */
  bottom: 0;
  filter: brightness(0.75) saturate(1.2) contrast(0.85);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center;
  transform: scale(1) translateZ(0);
  transition: filter 200ms linear, transform 200ms linear;
  box-shadow: 10px 10px 20px black;
}

.login-new .card:hover .cardBackground {
  transform: scale(1.05) translateZ(0);
}

.login-new .cardGrid:hover > .card:not(:hover) .cardBackground {
  /* filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px); */
}

.login-new .cardContent {
  left: 0;
  padding: var(--spacing-l);
  position: absolute;
  bottom: 0;
}

.login-new .cardCategory {
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
  margin-bottom: var(--spacing-s);
  text-transform: uppercase;
  letter-spacing: 5px;
  word-spacing: 5px;
  left: 0;
}

.login-new .cardHeading {
  color: var(--text-lighter);
  font-size: 1.9rem;
  text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
  line-height: 1.4;
  word-spacing: 100vw;
}
