.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -0.29rem;
  background-color: #183865;
  width: 100%;
  height: 435px;
}


.styt {
  color: #5ce1e6;
  text-align: center;
  width: 72px;
  height: 59.29px;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;

  width: 85%;
}
.box1 {
  width: 33%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.box2 {
  width: 33%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.box3 {
  width: 33%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.rowMob {
  display: none;
}

.mainDiv {
  display: none;
}

@media screen and (max-width: 700px) {
  .row {
    display: none;
  }
  .mainDiv {
    display: block;
    width: 600px;
    height: 400px;
    background-color: #183865;
    margin-right: -190px;

    padding-right: 50%;
  }
  .box1mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: auto;
    padding-bottom: 430px;
  }
  .iconMob {
    color: #5ce1e6;
    text-align: center;
    width: 102px;
    height: 100.29px;
    margin-left: 150px;
    margin-top: 50px;
  }
}
