
.faq-box {
    width: 292px;
    height: 110px;
    border: 2px solid #5ce1e6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 1rem;
    gap: 1rem;
    cursor: pointer;
  }
  .faq-box-content p {
    font-size: 15px;
    font-weight: 700;
    color: white;
  }