.container {
  background-color: #5ce1e6;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 350px;
  top: 50%;
  flex-direction: column;
}
.heading {
  color: #183865;
  font-weight: bolder;
  font-size: 40px;
}
.content {
  margin-top: 20px;
  color: #183865;
}

@media (max-width: 600px) {
  .bgss {
    background-color: #5ce1e6;
    margin-top: -4.03rem;
  }
}
