.HomeTopBack1 {
  background-image: url("../../Images/HomeTopBack1.svg");
}
.HomeTopBack2 {
  background-image: url("../../Images/HomeTopBack2.svg");
}
.bckground-global{
  background-image: url("../../img/service/experiecebg.png");
}