nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* height: 60px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  transition: background-color 0.3s ease-in-out;
  z-index: 999;
}
.text-hover:hover {
  color: "red";
  font-weight: bold;
}
.dropdown-content1 {
  display: none;
  position: absolute;
  background-color: #183865;
  min-width: 170px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 6px 10px;
  z-index: 1;
  border-radius: 1rem;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.brand-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}
.badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}
/* .heading {
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 2rem;
  text-decoration-line: none;
  animation: colorChange 5s infinite;
} */
.length1 {
  position: absolute;
  top: 7px;
  right: 95px;
  padding: 4px 8px;
  border-radius: 10px;
  background-color: red;
  color: white;
  font-size: 9px;
}

/* .heading {
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 2rem;
  text-decoration-line: none;
  animation: colorChange 7s infinite;
} */

@keyframes colorChange {
  0% {
    color: red;
  }
  14% {
    color: orange;
  }
  28% {
    color: yellow;
  }
  42% {
    color: green;
  }
  57% {
    color: blue;
  }
  71% {
    color: indigo;
  }
  85% {
    color: violet;
  }
  100% {
    color: red;
  }
}
.rounded-circle {
}

/* .heading:hover {
  animation-play-state: paused; 
} */

@media (max-width: 768px) {
  nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    transition: background-color 0.3s ease-in-out;
    z-index: 999;
    color: white;
  }
  .length1 {
    position: absolute;
    top: 300px;
    right: 590px;
    padding: 4px 8px;
    border-radius: 10px;
    background-color: #f1f1f1;
    color: white;
    font-size: 9px;
  }
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0 10px;
  cursor: pointer;
  color: white;
  margin-left: 20rem;
}
li {
  list-style: none;
}
.navbar {
  display: flex;

  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 20px;
  background-color: #fff;
  color: #fff;
  /* margin-left: -2rem; */
}
.imgcircle {
  margin-left: -18rem;
}

.navbar-logo {
  font-size: 24px;
  font-weight: bold;
  color: #0d0d0d;
  text-decoration: none;
}

.navbar-toggle {
  display: none;
  margin-top: -2rem;
  margin-right: 6rem;
  /* color: #0d0d0d; */
}

.navbar-menu {
  display: flex;
  color: #fff;
  flex-direction: row;
  margin-left: 0rem;
}

.navbar-menu li {
  margin: 0 10px;
  color: #fff;
  margin-left: 2rem;

  /* margin-left: 4rem; */
}

.navbar-menu li a {
  font-size: 15px;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
}
.overlay-button1 {
  background-color: #5ce1e6;
  color: white;
  text-align: center;

  border: none;

  /* padding: 15px 32px; */
  border-radius: 0.5rem;
  text-align: center;
  text-decoration: none;
  /* display: inline-block; */
  /* margin-right: 7rem; */
}

@media only screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    height: auto;
  }

  .navbar-toggle {
    display: block;
    font-size: 24px;
    color: #f1f1f1;
    cursor: pointer;
    /* margin-right: 4rem; */
  }

  .navbar-menu {
    display: none;
    flex-direction: column;
    margin: 10px 0;
    padding: 0;
    margin-top: 15rem;
    background-color: #183865;

    /* margin-left: -20rem; */
  }

  .navbar-menu li {
    margin: 10px 0;

    color: #f6f7f9;
    margin-left: -10rem;
    /* margin-top: 3re; */
  }

  .navbar-menu li a {
    font-size: 15px;
    color: #f6f7f9;
    text-decoration: none;
  }

  .navbar-menu.show {
    display: flex;
  }

  /* new css by aj */
  .dropbtn {
    background-color: transparent;
    color: transparent;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }

  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  /* Links inside the dropdown */
  .dropdown-content Link {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  /* Change color of dropdown links on hover */
  .dropdown-content Link:hover {
    background-color: #f1f1f1;
  }

  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }
}

.overlay-button1 {
  background-color: #5ce1e6;
  color: white;
  /* text-align: center; */

  border: none;

  padding: 10px 15px;
  /* border-radius: 1.5rem; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /* margin-left: 7rem; */
}
/* @font-face {
  font-family: MEDIUM;
  src: url("../../Fonts/Poppinsfonts/Poppins-SemiBold.ttf");
}
.navbar li{
  font-family:MEDIUM ;
  color: #0d0d0c;
}
.navbar h2{
  font-family:MEDIUM ;
  color: #0d0d0c;
} */

@media (max-width: 600px) {
  .navbar-menu li {
    /* margin: 0 10px; */
    color: #fff;
    /* margin-left: 2rem; */
    background-color: #183865;

    /* margin-left: 4rem; */
  }
  .navbar {
    /* display: flex; */
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0 20px;
    background-color: #fff;
    color: #fff;
    margin-left: -2rem;
  }
  .imgcircle {
    margin-left: -10rem;
    width: 6rem;
    height: 2.6rem;
  }
  nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 30rem;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    transition: background-color 0.3s ease-in-out;
    z-index: 999;
  }
}
/* dropdown amar new trial */
/* .dropdown1 {
  position: relative;
  display: inline-block;
  font-size: 18px;
  font-weight: 500; */

.dropdown-content1 {
  display: none;
  position: absolute;
  background-color: #183865;
  min-width: 170px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 6px 10px;
  z-index: 1;
  border-radius: 1rem;
  text-align: center;
}
.dropdown1 p:hover {
  background: #77898a;
}
.dropdown1 p {
  width: 100%;
}

.dropdown1:hover .dropdown-content1 {
  /* display: block; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px !important;
  padding-top: 20px;
}

.dropdown2 {
  position: relative;
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
}

.dropdown-content2 {
  display: none;
  position: absolute;
  flex-direction: column;
  gap: 10px;
  background-color: #183865;
  min-width: 195px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 10px 15px;
  z-index: 1;
  border-radius: 1rem;
  text-align: center;
  /* display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items:center; */
}

.dropdown2:hover .dropdown-content2 {
  display: block;
}

.dropdown3 {
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 6px 10px;
}
.dropdown3:hover {
  background: #77898a;
}
.dropdown3 p:hover {
  background: #77898a;
  color: #77898a;
}
.dropdown-content3 {
  display: none;
  position: absolute;
  background-color: #183865;
  /* min-width: 110px; */
  min-width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 1px 5px;
  /* margin-left: 10rem; */
  z-index: 1;
  border-radius: 1rem;
  right: 6rem;
}

.dropdown3:hover .dropdown-content3 {
  display: block;
  position: absolute;
  top: 10%;
  background-color: #183865;
  /* min-width: 110px; */
  min-width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 1px 5px;
  /* margin-left: 10rem; */
  z-index: 1;
  border-radius: 1rem;
  margin-right: 4rem;
  /* height: 150px;   */
  text-align: center;
}
.dropdown-content3 p {
  /* padding: 10px; */
  font-size: 30px;
}
.para-nav {
}
.dropdown3:hover .dropdown-content3:hover {
  display: block;
}
