.top-image-2 {
  background-image: url("../../src/Images/FranchesTank.jpg");
}
.FranchiseTank-hero-image {
  background-image: url("../../src/Images/FranchiseLogo.svg");
  height: 300px !important;
  width: 370px !important;
}
.FranchiseCard1 {
  background-image: url("../Images/francard1.png");
}
.FranchiseCard2 {
  background-image: url("../Images/francard2.png");
}
.FranchiseCard3 {
  background-image: url("../Images/francard3.png");
}
.FranchiseCard4 {
  background-image: url("../Images/francard4.png");
}
.lower-image{
  
}