.top-image-3 {
  background-image: url("../../src/Images/Jobtank.jpg");
}
.Grand-image {
  background-image: url("../../src/Images/GrandLogo.svg");
  height: 178px !important;
  width: 370px !important;
  margin-top: 4rem;
}
.Grandcard1 {
  background-image: url("../Images/job1.png");
}
.Grandcard2 {
  background-image: url("../Images/job2.png");
}
.Grandcard3 {
  background-image: url("../Images/job3.png");
}
.Grandcard4 {
  background-image: url("../Images/job4.png");
}
.Grandcard5 {
  background-image: url("../Images/job5.png");
}
