.main {
  background-color: black;
  height: 700px;
  position: relative;
}
.imgediv {
  background: url(../../../img/service/experiecebg.png);
  height: 100%;
  opacity: 0.3;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}
.imge {
  position: absolute;
}
.heading {
  font-size: larger;
  font-weight: 900;
  color: white;
  position: absolute;
  top: 38%;
  left: 30%;
  font-size: 40px;
  text-align: center;
}
.content1 {
  font-size: 14px;
  color: white;
  position: absolute;
  top: 50%;
  left: 25%;
  font-size: 14px;
  line-height: 1.8;
  text-align: center;
}
.buttonglobal {
  background-color: #5ce1e6;
  position: absolute;
  bottom: 25%;
  left: 44%;
  height: 50px;
  width: 150px;
  border-radius: 30px;
  outline: none;
  border: none;
  color: white;
  font-size: 17px;
  cursor: pointer;
}
@media screen and (max-width: 640px) {
  .heading {
    /* margin-right: 150px; */
    /* font-size: medium; */
    font-weight: 900;
    color: white;
    top: 25%;
    left: 1%;
    font-size: 30px;
  }
  /* .content {
    font-family: "Gill Sans Extrabold", sans-serif;

    text-align: center;
    left: 0;
    color: white;
    position: absolute;
    top: 50%;
    width: 400px;
    line-height: 2;
    text-align: center;
    font-size: 14px;
    color: white;
    position: absolute;
    top: 42%;
    left: 25%;
    font-size: 14px;
    line-height: 1.8;
    text-align: center;
    width: 100%;
    padding: 0px 28px;
  } */
  .content1 {
    text-align: center;
    font-size: 14px;
    color: white;
    position: absolute;
    top: 42%;
    /* left: 25%; */
    font-size: 14px;
    line-height: 1.8;
    text-align: center;
    /* width: 100%; */
    padding: 0px 28px;
  }
}
